.home-user-container {
  /* background-color: #121212; */
  color: #ffffff;
  padding: 20px;
  font-family: Arial, sans-serif;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;  
}

.middle-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.middle-left-container{
  background-color: #1e1e1e;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
}

.middle-right-container{
  background-color: #1e1e1e;
}

.section-heading {
  color: #f0f0f0;
  font-size: 0.1rem;
  margin-bottom: 10px;
  text-align: center;
}

.error-message {
  text-align: center;
  font-size: 1.2rem;
  color: red;
}

.task-list {
  margin-top: 30px;
}

.empty-task-card {
  background-color: #444444;
  margin: 20px auto;
  width: 60%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.MuiButton-contained {
  background-color: #ff5722;
  color: white;
}

.MuiButton-contained:hover {
  background-color: #e64a19;
}

.MuiCircularProgress-root {
  color: #ff5722;
}
